p::-moz-selection
{
background-color: #00ffdd;
color: #FFFFFF; 
}
.a2:visited
{
color: #000000;
}

.a2:link
{
text-decoration: none;	
/*background-color: #FFFF00;*/
}

.a2:hover
{
font-size: 27px;
color: #A0522D;
cursor: pointer;
}



.ulc
{
list-style-type: square;
color: #00BFFF;
}


.quote
{
text-align: rught;
background-color: #6A5ACD;
padding: 3px;
font-size: 25px;
font-family: "Myriad Hebrew";
color: #ADFF2F;
position: relative;
left: 960px;
border-radius: 9px;
}


.d3
{
font-size: 20px;
font-family: "Maiandra GD";
padding: 10px;
height: 240px;
width: 100%;
background-color: #2F4F4F;
border-radius: 33px;

}
.t1
{
border-collapse: seperated;
border-spacing: 20px 3px;
empty-cells: hide;
}

.selected
{
background-color: #FFD700;
color: #000080;
font-size: 23px;
}


.d1
{
font-size: 20px;
font-family: "Maiandra GD";
padding: 10px;
height: 200px;
width: 100%;
background-color: #2F4F4F;
border-radius: 33px;
}
input::-moz-selection
{
background-color: lightgreen;
color: #ffffff;
}

textarea::-moz-selection
{
background-color: lightgreen;
color: #ffffff;
}


.name
{
position: relative;
left: 430px;
background-color: rgba(255,255,255,0.1);
font-size: 10px;
font -family: "Harlow Solid";
padding: 4px;
word-spacing: 5px; 
letter-spacing: 3px;
border-radius: 6px;
}

.email
{
position: relative;
left: 430px;
top: 14px;
background-color: rgba(255,255,255,0.1);
font-size: 10px;
font-family: "Harlow Solid";
padding: 4px;
word-spacing: 5px;
letter-spacing: 3px;
border-radius: 4px;
}

.blog
{
position: relative;
top: 15px;
left: 430px;
background-color: rgba(255,255,255,0.1);
font-size: 15px;
font-family: "Harlow Solid";
padding: 4px;
word-spacing: 5px;
letter-spacing: 3px;
border-radius: 9px;
scroll-bar:hidden;
}


.submit
{

position: relative;
left: 730px;
top: -40px;
background-color: red;
font-size: 15px;
color: skyblue;
border-radius: 2px;
}


.sp
{
font-family: "Ink Free";
font-size: 30px;
color: #FAEBD7;
text-shadow: -3px -3px 4px #000000;
letter-spacing: 0.5px;
word-spacing: 5px;
border: 5px hidden #EB8046;
border-radius: 23px;
box-shadow:inset -3px 3px 8px #FFFFFF,-3px 3px 8px #66CDAA;

padding: 10px;
/*
border-width: 12px;
border-style: solid; 
*/
background-color: #EB8046;

}

.dl
{
hight: 100px;
width: 400px;
backgtound-color: #FFFF00;
}








/*
.d2
{
text-indent: 960px;

/*text-align: right;*/

width: 100px;
background-color: #6A5ACD;
color: #ADFF2F;
font-size: 25px;
font-family: "Myriad Hebrew";
}

.p2
{
text-align: right;
}
*/

/*.fo
{
position: absolute;
left: 230px;
top: 20px;
}*/


.d2
{
text-indent: 960px;
}
