
@font-face
{
font-family:heavycopper;
font-weight: bold;
src:url('ff/heavycopper3d.ttf');
}

@font-face
{
font-family: holysans;
font-weight: bold;
src:url('ff/HolySans-Bold.ttf');
}

@font-face
{
font-family: ltreponse;
font-weight: bold;
src:url('ff/LTReponseRoundedTwoBold.otf');
}

@font-face
{
font-family: minimal;
src:url('ff/MinimalFont5x7.ttf');
}

@font-face
{
font-family: mfriend;
src:url('MonsterFriendFore.otf');
}

@font-face
{
font-family: monstermash;
src:url('ff/MonsterMash.ttf');
}

@font-face
{
font-family: rockmod;
src:url('ff/RockMODUS039.ttf');
}

@font-face
{
font-family: rockbucket;
src:url('ff/RockBuchet-Regular.otf');
}

@font-face
{
font-family: rockin;
src:url('ff/gomarice_rockin_record.ttf');
}

@font-face
{
font-family: rocko;
src:url('ff/rocko.ttf');
}

@font-face
{
font-family: rocksg;
src:url('ff/gomarice_rocks.ttf');
}

@font-face
{
font-family: scarm;
src:url('ff/SCARM__.TTF');
}

@font-face
{
font-family: bad;
src:url('ff/BAD.ttf');
}

@font-face
{
font-family: viresg;
src:url('ff/Vires Gollem.otf');
}

@font-face
{
font-family: bboys;
src:url('ff/Bad Boys.ttf');
}

body
{
background-image: url('starss.jpg');
background-attachment: fixed;
height: 500px;
width: 1245px;
}

p::-moz-selection
{
background-color: #00ffdd;
color: #FFFFFF; 
}



.a2
{
position: absolute;
color: #00BFFF;
text-decoration: none;	
}


.a2:visited
{
color: #000000;
}


.a2:hover
{
font-size: 33px;
color: #A0522D;
cursor: pointer;
}



.ulc
{
position: relative;
top: -10px;
list-style-type: square;
color: #00BFFF;	
}


.quote
{
text-align: right;
background-color: #6A5ACD;
padding: 3px;
font-size: 35px;
font-family: "minimal","Myriad Hebrew";
color: #ADFF2F;
position: relative;
left: 920px;
border-radius: 9px;
}

.i-a-image
{
position: relative;
top: -580px;/*-385px*/
left: 990px;
z-index: 2; 
/*transform: translate(0px,110px);
transition: transform 500ms ease-in-out;
*/
transform: translate(0px,114px) rotate(30deg) scale(0.75,0.75) ;
transform-origin: 0% 0%;
transition: transform 5s cubic-bezier(0.31,1.38,0,1.85) /*(0,-0.49,1,.98) (1,.86,0,-0.58)(0.31,1.38,0,1.85)*/;

}

/*@keyframes astro-hang
{
0%{top: -510px; }
50%{top: -444px; }
100%{top: -385px;}
}

@keyframes astro-float
{
from{top: -390px;}
to{top: -385px;}
}*/

.d3
{
font-size: 30px;
font-family: "minimal","Maiandra GD";
padding: 10px;
height: 300px;
width: 100%;
background-color: #2F4F4F;
border-radius: 33px;

}
.t1
{
border-collapse: seperated;
border-spacing: 20px 3px;
empty-cells: hide;
}

.selected
{
background-color: #FFD700;
color: #000080;
font-size: 23px;
}

.blog-para
{
font-size: 35px;
}

.d1
{
position: relative;
/*color: #00BFFF;*/
font-size: 30px;
font-family: "minimal","Maiandra GD";
padding: 10px;
height: 240px;
width: 100%;
background-color: #2F4F4F;
border-radius: 33px;
}

input::-moz-selection
{
background-color: lightgreen;
color: #ffffff;
}

textarea::-moz-selection
{
background-color: lightgreen;
color: #ffffff;
}


.name
{
position: absolute;
left: 430px;
top: 20px;
background-color: rgba(255,255,255,0.1);
font-size: 24px;
width: 200px;
height: 23px;
border: 0.1px solid #808080;
font-family: "minimal";
padding: 4px;
word-spacing: 5px; 
letter-spacing: 3px;
border-radius: 4px;
color: #FFD700;
}

.email
{
position: absolute;
left: 430px;
top: 74px;
background-color: rgba(255,255,255,0.1);
font-size: 24px;
width: 200px;
height: 24px;
border: 0.1px solid #808080;
font-family: "minimal";
padding: 4px;
word-spacing: 5px;
letter-spacing: 3px;
border-radius: 4px;
color: #FFD700;
}

#blog
{
position: absolute;
top: 125px;
left: 230px;
background-color: rgba(255,255,255,0.1);
font-size: 28px;
width: 800px;
height: 100px;
border: 0px solid #808080;
font-family: "minimal","Harlow Solid";
padding: 4px;
word-spacing: 5px;
letter-spacing: 3px;
border-radius: 9px;
resize: none;
color: #FFD700;
}


.submit
{

position: absolute;
left: 730px;
top: 40px;
width: 70px;
height: 20px;
border: 0px solid #808080; 
background-color: #008B8B;
font-size: 20px;
font-family: "minimal";
color: #FFD700;
border-radius: 2px;
}

.submit:hover
{
height: 23px;
width: 73px;
font-size: 23px;
top: 38px;
left: 728px;
cursor:pointer;
}

.sp
{
font-family: "viresg";
font-size: 30px;
color: #D3D3D3;
text-shadow: 3px 3px 4px #000000;
letter-spacing: 0.5px;
word-spacing: 5px;
border: 5px hidden #EB8046;
border-radius: 23px;
box-shadow:inset -3px 3px 8px #FFFFFF,-3px 3px 8px #66CDAA;

padding: 10px;
/*
border-width: 12px;
border-style: solid; 
*/
background-color: #EB8046;

}

.dl
{
hight: 100px;
width: 400px;
backgtound-color: #FFFF00;
}








/*
.d2
{
text-indent: 960px;

/*text-align: right;*/

width: 100px;
background-color: #6A5ACD;
color: #ADFF2F;
font-size: 25px;
font-family: "Myriad Hebrew";
}

.p2
{
text-align: right;
}
*/

/*.fo
{
position: absolute;
left: 230px;
top: 20px;
}*/


.d2
{
text-indent: 960px;
}
