body
{
background-color: #F5F5F5;
}

.d1
{
position: relative;
top: 185px;
}

.d4
{
position: relative;
top: 185px;
}

.fb_logo 
{
position: relative;
left: 125px;
}

.heading
{
position: relative;
top: -20px;
left:140px;
color: #373A38;
font-family: "Arial Narrow", "MS Sans Serif";
font-size: 30px;
word-spacing: 4px;
letter-spacing: 1nm;
}

.form-div
{
float: right;
height: 357px;
width: 396px;
box-shadow: 0px 0px 15px #DCDCDC;
background-color: #FFFFFF;
border-radius: 6px;
}

.form
{
position: relative;
right: 160px;
top: -260px;

}

.d4
{
float: right;
position: relative;
top: 300px;
left: 205px;
color: #000000;
font-family: "Arial";
font-size: 15px;
}

.page-a
{
color: #000000;
text-decoration: none;
}

.page-a:hover
{
text-decoration: underline;
}


.email
{
padding: 12px;
position: relative;
top: 15px;
left: 17px;
font-size: 20px;
border-radius: 5px;
box-shadow:inset 0px 0px 1px rgba(255,255,255,0.1);
width: 358px;
color: #DCDCDC;
border: 0.2px solid #D3D3D3;
border-color: #DCDCDC;
}
.email::-moz-selection
{
border: 0.2 solid #1E90FF;
color: #000000;
}

.pass
{
position: relative;
top: 28px;
left: 17px;
padding: 12px;
box-shadow: inset 0 0 1px rgba(255,255,255,0.1);
width: 358px;
border-radius: 5px;
font-size: 20px;
border: 0.1px solid #D3D3D3;
color: #DCDCDC;
}

.pass::-moz-selection
{
border: 0.2 solid #1E90FF;
color: #000000;
}


.login
{
position: relative;
top: 40px;
left: 17px;
background-color: #1E90FF;
width: 358px;
padding: 12px;
color: white;
font-size: 20px;
font-family: "Arial";
border-radius: 5px;
border: 0px solid #D3D3D3;
}
.login:hover
{
cursor: pointer;
}

.forgot-pass
{
position: relative;
font-family: "Arial";
color: #1E90FF;
top: 60px;
left: 128px;
font-size: 14px;
text-decoration: none;
}

.forgot-pass:hover
{
text-decoration:underline;

}

.new-ac
{
position: relative;
top: 100px;
left: 98px;
font-family: "Arial";
font-size: 19px;
padding: 8px;
height: 52px;
width: 196px;
border-radius: 8px;
background-color: #32CD32;
color: #E6E6FA;
border: 0px solid #D3D3D3;
}

.new-ac:hover
{
cursor:pointer;
}

.hori-line
{

position: relative;
top: 80px;
width: 375px;
color: #696969;
border: 0.1px solid #D3D3D3; 
}